@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary color palette */
    --primary-0:   255 255 255;
    --primary-50:  245 243 255;
    --primary-100: 237 233 254;
    --primary-200: 221 214 254;
    --primary-300: 196 181 253;
    --primary-400: 167 139 250;
    --primary-500: 124  58 237;
    --primary-600: 109  40 217;
    --primary-700:  91  33 182;
    --primary-800:  76  29 149;
    --primary-900:  59   7 100;
    --primary-1000:  30   3 50;

    /* Secondary color palette */
    --secondary-0:   255 255 255;
    --secondary-50:  232 241 255;
    --secondary-100: 209 227 255;
    --secondary-200: 168 201 255;
    --secondary-300: 120 170 255;
    --secondary-400:  66 133 244;
    --secondary-500:  11  95 255;
    --secondary-600:   8  78 220;
    --secondary-700:   6  62 184;
    --secondary-800:   4  46 143;
    --secondary-900:   2  30 102;
    --secondary-1000:   0  15  61;

    /* Ink color palette */
    --ink-0:   255 255 255;
    --ink-50: 250 250 250;
    --ink-100: 245 245 245;
    --ink-200: 238 238 238;
    --ink-300: 224 224 224;
    --ink-400: 189 189 189;
    --ink-500: 158 158 158;
    --ink-600: 117 117 117;
    --ink-700: 97 97 97;
    --ink-800: 66 66 66;
    --ink-900: 33 33 33;
    --ink-1000: 2 6 23;

    /* Danger color palette */
    --danger-0:   255 255 255;
    --danger-50:  254 242 242;
    --danger-100: 254 226 226;
    --danger-200: 254 202 202;
    --danger-300: 252 165 165;
    --danger-400: 248 113 113;
    --danger-500: 239  68  68;
    --danger-600: 220  38  38;
    --danger-700: 185  28  28;
    --danger-800: 153  27  27;
    --danger-900: 127  29  29;

    /* Success color palette */
    --success-0:   255 255 255;
    --success-50:  236 253 245;
    --success-100: 209 250 229;
    --success-200: 167 243 208;
    --success-300: 110 231 183;
    --success-400:  52 211 153;
    --success-500:  16 185 129;
    --success-600:   5 150 105;
    --success-700:   4 120  87;
    --success-800:   6  95  70;
    --success-900:   6  78  59;

    /* Warning color palette */
    --warning-0:   255 255 255;
    --warning-50:  255 251 235;
    --warning-100: 254 243 199;
    --warning-200: 253 230 138;
    --warning-300: 252 211  77;
    --warning-400: 251 191  36;
    --warning-500: 245 158  11;
    --warning-600: 217 119   6;
    --warning-700: 180  83   9;
    --warning-800: 146  64  14;
    --warning-900: 120  53  15;
}


.dark {
    /* Ink color palette */
    --ink-0:   2 6 23;
    --ink-50:  15 23 42;
    --ink-100: 30 41 59;
    --ink-200: 51 65 85;
    --ink-300: 71 85 105;
    --ink-400: 100 116 139;
    --ink-500: 148 163 184;
    --ink-600: 203 213 225;
    --ink-700: 226 232 240;
    --ink-800: 241 245 249;
    --ink-900: 248 250 252;
    --ink-1000: 255 255 255;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(var(--ink-100));
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--ink-400));
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--ink-600));
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--ink-400)) rgb(var(--ink-100));
}